@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;700&display=swap');

body {
    height: 100vh;
    background: linear-gradient(#98ca6e, #297189);
    font-family: 'Montserrat', 'Inter', Arial, sans-serif;
    overflow: hidden;
}




