@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;700&display=swap');

body {
    height: 100vh;
    background: linear-gradient(#E3F2FD, #BBDEFB);
/*    background-color: #E8F5E9; */
    font-family: 'Montserrat', 'Inter', Arial, sans-serif;
    overflow: hidden;
}




