body {
    font-family: Segoe UI, Arial, sans-serif;
    background: linear-gradient(to bottom, #dbeefd, #b5d1ee);
}

h2 {
    margin: 30px 0 20px 30px;
}

button, .nav-link {
    margin: 10px 10px 10px 0;
    font-size: 16px;
}

table {
    margin-top: 20px;
    margin-left: 30px;
}

th, td {
    padding: 10px 20px;
    text-align: left;
}
