.app-container{
    display:flex;
    flex-direction:row;
    height:100vh;
}

.content{
    flex: 1;
    padding:30px;
    overflow-y:auto;
}

/*=======SIDEBAR=======*/
.sidebar{
    width:250px;
    background-color: #1e293b;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;

}

.sidebar h3{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #38bdf8;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin: 8px 0;
}

.sidebar a{
    color:white;
    text-decoration:none;
    margin: 8px 0;
    font-weight: 500;
}

.sidebar a:hover{
    text-decoration: underline;
    color: #38bdf8;
}

/*=======DASHBOARD=======*/

.dashboard-container{
    padding:20px;
    color: #1e293b;
    margin-right: 270px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap:20px;
    margin-top: 20px;
}

.dashboard-card{
    display: flex;
    align-items: center;
    background-color: #f8fafc;
    border-radius: 12px;
    padding:20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dashboard-card .icon{
    margin-right: 15px;
    color: #2563eb;
}